[Unit]
Description=server-dnstt Service
Documentation=https://t.me/ruhappyy
After=network.target

[Service]
Type=simple
ExecStart=/etc/dnstt/dnstt-server/dnstt-server
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
